<p>hello</p>

<ng-template [ngIf]="x">
  <p>lkdsjflk</p>
</ng-template>

<h2>for loop</h2>
<ng-template [ngFor] let-loopVar [ngForOf]="y">
{{loopVar.name}} is {{loopVar.age}} years Old <br><br>
</ng-template>

<form [formGroup]="myForm">
  <input type="text" name="name" placeholder="what's your name" formControlName="user"><br><br>
  <input type="number" name="age" placeholder="what's your AGE" formControlName="age"><br><br>
  <button (click)="sub()">submit</button><br><br>
  <button (click)="fillValue()">fill Value</button><br><br>
  <button (click)="reserFunc()">reset</button>
</form> 

<!-- <canvas id="myChart" #myChart></canvas> -->
